/*@import "tailwindcss";*/
.form-car{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-car input{
    width:200px;
    padding: 10px;

}
ul{
    list-style: none;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-car button{
    width: 200px;
    background-color: lightgrey;
}
.errors-method{
    color: red;
}
.div-cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}
.car{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 10px;
    font-size: 20px;

}
